* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --base-color: #6801b8;
}

body {
  background-color: black;
}

/* CENTER THE CALCULATOR */
#calculator_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#calculator {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: var(--base-color);
  padding: 1.5rem;
  width: 24rem;
  height: fit-content;
  border-radius: 1.5rem;
  box-shadow: 5px 6px 15px 5px black inset, 2px 2px 15px 4px var(--base-color);
  border: 1px solid black;
}

h1 {
  color: white;
  margin: .5rem;
  font-size: 2.5rem;
  text-shadow: 4px 4px 5px black;
}

#display {
  width: inherit;
  /* border: 2px solid red; */
}

#displaytext {
  box-sizing: border-box;
  width: inherit;
  height: 3rem;
  padding: .8rem 1rem 2.2rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.493);
  box-shadow: 3px 3px 12px black;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  overflow: hidden;
  /* border: 2px solid red; */
}

#btn_display {
  margin: 2rem 0 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: .8rem;
  justify-content: space-evenly;
  align-content: space-evenly;
  /* border: 2px solid red; */
}

.calc_button {
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: .4rem;
  height: 3.5rem;
  width: 4rem;
  border: none;
  text-align: center;
  box-shadow: 7px 5px 10px 1px black;
}

#btn_display img {
  vertical-align: middle;
}

.clear,
.delete,
.operation,
.decimal {
  color: #b14efd;
}

.clear .delete .operation .decimal:hover {
  color: white;
}

#btn_display .equal {
  grid-column: 3 / span 2;
  width: 100%;
}

.calc_button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--base-color);
}

.clickedOn {
  background-color: rgb(37, 37, 37);
  color: #b14efd;
  box-shadow: 10px 10px 12px 2px black inset;
}



@media screen and (max-width : 700px) {
  h1 {
    font-size: 2rem;
  }

  #calculator {
    width: 20rem;
  }

  #displaytext {
    height: 2rem;
  }

  .calc_button {
    font-size: 1.4rem;
    height: 2.5rem;
    width: 3rem;
    border-radius: .3rem;
  }
}

@media screen and (max-width : 400px) {
  h1 {
    font-size: 1.5rem;
  }

  #calculator {
    width: 12rem;
  }

  .calc_button {
    font-size: 1rem;
    height: 1.5rem;
    width: 2rem;
  }

  #displaytext {
    height: 1rem;
    padding: .5rem 1rem 2rem;
  }

  img {
    width: 1rem;
  }
}