* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --base-color: #6801b8;
  --main-color: rgb(219, 217, 217);
  --dark-shadow: rgb(126, 125, 125);
  --light-shadow: rgb(236, 235, 235);
}

body {
  background-color: var(--main-color);
}

/* CENTER THE CALCULATOR */
#calculator_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#calculator {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  box-shadow: 0 0 12px 3px var(--dark-shadow), 10px 10px 10px 1px var(--light-shadow) inset;
  padding: 1.5rem;
  width: 24rem;
  height: fit-content;
  border-radius: 1.5rem;
}

h1 {
  color: var(--base-color);
  margin: .5rem;
  font-size: 2.5rem;
  /* text-shadow: 0 0 20px rgb(146, 146, 146); */
}

#display {
  width: inherit;
}

#displaytext {
  box-sizing: border-box;
  width: inherit;
  height: 3rem;
  padding: .8rem 1rem 2.2rem;
  border-radius: 1.5rem;
  border: none;
  color: black;
  background-color: var(--main-color);
  box-shadow: 8px 8px 8px 1px var(--dark-shadow) inset, -10px -10px 10px 1px var(--light-shadow) inset;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  overflow: hidden;
}

#btn_display {
  margin: 2rem 0 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: .8rem;
  justify-content: space-evenly;
  align-content: space-evenly;
  /* border: 2px solid red; */
}

.calc_button {
  background-color: var(--main-color);
  color: var(--base-color);
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  text-align: center;
  box-shadow: -5px -5px 10px 1px var(--light-shadow), 2px 2px 8px 1px var(--dark-shadow);
}

i {
  vertical-align: middle;
}

.calc_button.theme {
  transition: all 0.4s ease;
}

.calc_button.change {
  color: black;
  background-color: white;
  transition: all 0.4s ease;
}

.clear,
.delete,
.operation,
.decimal, i {
  color: black;
}

/* .clear .delete .operation .decimal:hover {
  color: white;
} */

#btn_display .equal {
  grid-column: 3 / span 2;
  width: 100%;
}

.calc_button:hover {
  cursor: pointer;
  /* color: white;
  background-color: var(--base-color); */
}

.clickedOn {
  background-color: rgb(37, 37, 37);
  color: #b14efd;
  box-shadow: 10px 10px 12px 2px black inset;
}

.moon {
  background-color: white;
  src: "icons/moon.svg";
}

@media screen and (max-width : 700px) {
  h1 {
    font-size: 2rem;
  }

  #calculator {
    width: 20rem;
  }

  #displaytext {
    height: 2rem;
  }

  .calc_button {
    font-size: 1.4rem;
    height: 2.5rem;
    width: 3rem;
    border-radius: .3rem;
  }
}

@media screen and (max-width : 400px) {
  h1 {
    font-size: 1.5rem;
  }

  #calculator {
    width: 12rem;
  }

  .calc_button {
    font-size: 1rem;
    height: 1.5rem;
    width: 2rem;
  }

  #displaytext {
    height: 1rem;
    padding: .5rem 1rem 2rem;
  }

  i {
    width: 1rem;
  }
}